# OS & Editor files
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/

# React / Node Dependencies & Builds
client/node_modules/
client/dist/
client/.vite/
node_modules/
dist/
.dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python & Django
__pycache__/
*.py[cod]
*$py.class
server/db.sqlite3
server/media/
server/staticfiles/
server/venv/
server/.env
*.egg-info/
.pytest_cache/
